# IDE
.vscode

# Virtual Environment
.venv

# Pycache
__pycache__


# Environment variables
.env.dev
.env.*.local

# Local database
database.db

# Telegram sessions and journales
*.session
*.session-journal