# IDE
.vscode

# Design
design

# Pycache
__pycache__

# Virtual Environment
.venv

# Environment variables
.env.dev
.env.*.local

# Local database
database.db

# Telegram sessions and journales
*.session
*.session-journal